runlast_eip.bat
runlast_native.bat
todo.txt
mame.xml
~*
**/_releases/
**/graphics
/distribution/Resources/Extra
/distribution/Assets/MAME/*.png
/distribution/Assets/MAME/*.jpg
/distribution/Assets/MAME/Logo/*.png
/distribution/Assets/MAME/Logo/*.jpg
!/distribution/Assets/MAME/Logo/galaga.png
/distribution/Assets/MAME/Marquee/*.png
/distribution/Assets/MAME/Marquee/*.jpg
!/distribution/Assets/MAME/Marquee/galaga.png
/distribution/Assets/Default/*.png
/distribution/Assets/Default/*.jpg
